*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.header {
    background-color: #0a1912;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #33845B;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
}

body > .content {
    flex: 1; 
}


li {
    display: inline;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a1912;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f95919;
}

.logo {
    width: 188px;
    height: 90px;
}

form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: white;
    color: black;
}

footer {
    background: #0a1912;
    color: white;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 60px;
}